*{
    font-family: "Roboto";
    outline:none;
    border:none;
}
#loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.loginHeading {
    margin: 5px;
}
.inputGroup {
    position: relative;
    margin-bottom: 10px;
}
.inputGroup input:focus {
    border-color: #2f5174;
}
#loginForm {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   
input {
    display: block;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
}
input:focus {
    background: rgba(145, 145, 145, 0.2);
}
.inputEmail .icons,
.inputPassword .icons{
    top: 7px;
    bottom: 7px;
    margin: auto;
    left: 10px;
    position: absolute;
    height: 20px;
}
.inputEmail input,
.inputPassword input {
    padding-left: 36px;
}
button {
    background: rgb(15, 15, 192);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    border:none;
}
.buttonGroup button {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.secondary {
    color: white;
    background: rgb(2, 73, 180);
}
