.leftBarContainer{
    position: relative;
    top:80px;
    flex:1.1;
    
}
.goToLinks{
    margin-bottom: 10px;
    color:#6d6d6d;
    padding-left:30px;
    
}
.itemTitle{
    font-weight: 600;
    padding-top: 20px;
    display: flex;
    padding-left:30px;
    
}
.itemTitle p{
    color:#6d6d6d;
    font-weight: 300;
}
.filterContainer{
    padding:20px 0px;
    margin-top: 30px;
    
    
}
.filterTitle{
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left:30px;
    border-bottom: 1px solid #eeebeb;
    padding-bottom: 10px;
}

.filterItem{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eeebeb;
    border-right: 1px solid #eeebeb;

    padding-left:30px;
}
.filterItem input{
    margin-right: 8px;
}
.categoriesTitle{
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;

}
.labels{
    display: flex;
    font-weight: 300;
    margin-bottom: 5px;
}
