.showProducts {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(232, 229, 229, 0.799);
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    height: fit-content;
    width: 225px;
}

.productHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productImg {
    height: 70px;
    width:40px;
    object-fit: cover;
}

.deleteBtn {
    padding: 5px 8px;
    font-size: 15px;
}

.products {
    margin-top: 5px;
}

.productsHeading {
    font-size: 17px;
    font-weight: 500;
    color: black;
}