*{
    font-family: 'Roboto', sans-serif;
    outline:none;
    border:none;
    padding: 0;
    margin: 0;
}
.loginSection{
    display: flex;
    flex-direction: column;
   
}
#loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
   
   
}
.loginContainerLeft{
    
   
    display: flex;
    flex: 1;
    justify-content: center;
    position: fixed;
    left:75px;
    
   
}
.loginContainerRight{
    display: flex;
    flex: 3;
    position: fixed;
    top: 80px;
    right: 0;
    left:25%;
    bottom: 0;
   

}
.rightImg{
   width: 100%;
   object-fit: cover;
    
    
}
.loginHeading {
    margin: 5px;
}
.inputGroup {
    position: relative;
    margin-bottom: 10px;
}
.inputGroup input:focus {
    border-color: #2f5174;
}
#loginForm {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}   

input {
    display: block;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
}

input:focus {
    background: rgba(145, 145, 145, 0.2);
}
.inputEmail .icons,
.inputPassword .icons,
.inputUserName .icons,
.inputbrandName .icons,
.inputConfirmPassword .icons{
    top: 7px;
    bottom: 7px;
    margin: auto;
    left: 10px;
    position: absolute;
    height: 20px;
}

input{
    padding-left: 36px;
}
button {
    background: rgb(2, 73, 180);
    color: white;
    padding: 10px;
    
    border-radius: 4px;
    
    
    
    cursor: pointer;
    border:none;
}
.buttonGroup button {
    display: block;
    width: 100%;
    margin-top: 10px;
}
#loginBtn:disabled{
    cursor: not-allowed;
}



