.leftBarFeedContainer {
    padding: 20px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    position: sticky;
    justify-content: center;
    display: flex;
    flex: 4;
}
.leftBarWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.noProducts{
    margin-top: 50px;
}