.topbarContainer {
    background-color: rgb(15, 15, 192);
    color: white;
    padding: 10px 20px;        
    box-shadow: 10px -2px 20px 2px #93929280;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px );
    height:50px;   
}
.addProductBtn , .logoutBtn{
    background-color: rgb(101, 101, 216);
}

