.products{    
    padding:15px;
    margin:10px;
}
.products:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px -2px rgba(232, 226, 226, 0.502);   
}    
.brandName{
    font-weight: 700;
    padding:5px 0px 0px 20px;   
}
.productImg{
    
    width: 250px ;
    height: 350px;
    object-fit: cover;    
}
.desc{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 14px;
    padding:5px 0px 0px 20px;
    width: 200px
}
.price{
    padding:5px 0px 0px 20px;
    font-size: 12px;
}